


.groupHeader {
    z-index: 10;
    margin: auto;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 57px;
    width: 100%;
    box-shadow:rgba(46, 62, 72, 0.12) 0px 0px 2px 0px, rgba(46, 62, 72, 0.12) 0px 2px 4px 0px        
}

.groupHeader > div {
    width: 600px;
    height: 337px;
    overflow: hidden;
    border-radius: 8px;
}

.groupHeader img {
    width: 100%;
}

.groupHeader h1 {
    color:rgb(46, 62, 72);
    font-size: 1.5vw;
    font-weight:600;
    line-height:35.2px;
}

.groupHeader ul {
    width: 414px;
    padding-left: 44px;
}

.groupHeader ul > li {
    padding-top: 10px;
    margin-bottom: -15px;            
    font-size:12px;
    font-weight: 400;
    line-height: 19.2px;
    color:rgba(46, 62, 72, 0.35);
}

.groupHeader h3 {
    color:rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
}

.groupHeader button {
    color: #fff;
    background: #f13a59;
    border-radius: 4px;
    font-size:14px;
    font-weight:400;
    width: 158px;
    height: 38px;
    text-align: center;
}

.bodyWrapper {
    justify-content: center;
    background: #f6f7f8;
}

.groupBody {
    color:rgb(46, 62, 72);
    justify-content: space-between;
    width: 1055px;
}

.groupBody h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight:500;
}

.about {
    width: 600px;
}

.events {
    width: 320px;
}

.events ul > li {
    text-align: center;
    width: 315px;
    height: 210px;
    font-size:16px;
    font-weight:400;
    background: #fff;
    border-radius: 8px;
    margin: 16px 0px 16px 0px;
    padding: 8px;
}

.events ul > li:hover {
    /* box-shadow: .25s cubic-bezier(.4,0,.2,1); */
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);
    transition-property: box-shadow, transform;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: initial, initial;
    border: .5px solid rgba(46,62,72,.12);
}