.groupHeader {
    z-index: 10;
    margin: auto;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 57px;
    width: 100%;
    box-shadow:rgba(46, 62, 72, 0.12) 0px 0px 2px 0px, rgba(46, 62, 72, 0.12) 0px 2px 4px 0px        
}

.bio-container {
    max-width: 1055px;
}

.bio-container > div {
    position: relative;
    width: 600px;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.groupImage {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.info h1 {
    color:rgb(46, 62, 72);
    font-size: 1.7vw;
    font-weight:600;
    line-height:35.2px;
}

.info {
    padding-left: 44px;
    width: 420px!important;
}

.info ul {
    min-height: 300px;
}

.info ul > li {
    padding-top: 10px;
    margin-bottom: -15px;            
    font-size:12px;
    font-weight: 400;
    line-height: 19.2px;
    color:rgba(46, 62, 72, 0.35);
}

.info h3 {
    color:rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
}


.info button {
    color: #fff;
    background: #f13a59;
    border-radius: 4px;
    font-size:14px;
    font-weight:400;
    width: 158px;
    height: 38px;
    text-align: center;
    padding: 2px 0;
}

.info button:hover {
    background: #f13a59;
}

.bodyWrapper {
    justify-content: center;
    background: #f6f7f8;
}

.groupBody {
    color:rgb(46, 62, 72);
    justify-content: space-between;
    width: 1055px;
}

.groupBody h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight:500;
}

.about {
    width: 600px;
}

.events {
    width: 320px;
}

.events ul > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 315px;
    height: 210px;
    font-size:16px;
    font-weight:400;
    background: #fff;
    border-radius: 8px;
    margin: 16px 0px 16px 0px;
}

.events ul > li:hover {
    /* box-shadow: .25s cubic-bezier(.4,0,.2,1); */
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);
    transition-property: box-shadow, transform;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: initial, initial;
    border: .5px solid rgba(46,62,72,.12);
}



.events ul > li > button {
    /* background: rgb(0, 162, 199); */
    margin: auto;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;    
    width: 270px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.6;
    outline: 0;
    vertical-align: middle;
    color: #fff;
    background: #00a2c7;
}

.events ul > li > button:hover {
        background: #008dae;
        transition: all .4s cubic-bezier(.165,.84,.44,1);
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: initial;
        color:rgb(255, 255, 255);
}

.thumbImage {
    border-radius: 50%;
    width: 2.75rem;
    margin-top: 15px;
    margin-bottom: -10px;  
}