.nav-bar {
    justify-content: space-between;
    align-items: center;
    height: 69px;
    color: rgba(0, 0, 0, .54);
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-top: 2px solid transparent;
    font-size: 14px;
    line-height: 23px;
    font-family: "Graphik Meetup", helvetica, arial, sans-serif;
    font-weight: 400;
    z-index: 5;
}

.logo-link {
    width: 155px;
    border-top: 4px solid transparent;
}

#meetup-logo {
    margin: auto;
    align-self: auto;
    width: 123px;
    height: 44px;
}

.auth-corner {
    display: flex;
    justify-content: space-between;
    width: 108px;
    padding: 32px;
    height: 23px;
}

.auth-corner a:hover, button:hover {
    color: #F64060;
}

.content {
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  .footer {
    flex-shrink: 0;
    margin-top: 20px;
    padding: 20px 0 20px 0;    
    width: 100%;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    color: #fff;
    background-color: #2f363f;
    align-self: center;
    justify-content: center;
  }

footer > a {
    margin: 0px 150px 0px 150px;
}