.nav-bar {
    justify-content: space-between;
    align-items: center;
    height: 69px;
    color: rgba(0, 0, 0, .54);
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-top: 2px solid transparent;
    font-size: 14px;
    line-height: 23px;
    font-family: "Graphik Meetup", helvetica, arial, sans-serif;
    font-weight: 400;
}

.logo-link {
    width: 155px;
    border-top: 4px solid transparent;
}

#meetup-logo {
    margin: auto;
    align-self: auto;
    width: 123px;
    height: 44px;
}

.auth-corner {
    display: flex;
    justify-content: space-between;
    width: 108px;
    padding: 32px;
}

.auth-links {
    height: 23px;
}

.auth-links :hover {
    color: #F64060;
}


/* body {

} */